* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

p, address {
  margin: 0;
}
ul, li, h4, h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 600px;
  margin: 25px auto;
}

header {
  width: 75%;
  display: flex;
  flex-direction: row-reverse;
  margin: 120px auto 0;
  justify-content: space-between;
  .list-description {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  h4 {
    font-size: 1.8em;
    font-weight: 300;
    color: lighten(black, 30%);
    margin: 0 0 20px 0;
    border-bottom: solid 1px grey;
  }
  h6 {
    color: lighten(black, 30%);
    margin: 0 0 10px 50%;
    &::before {
      content: '...'
    }
  }
  img {
    width: 125px;
    height: 125px;
    border-radius: 42%;
    background-color: grey;
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px lighten(black, 70%);
  border-radius: 5px;
  width: 75%;
  height: 200px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 3%;
  justify-content: center;
  :last-child {
    align-self: flex-end;
  }
}

input {
  height: 30px;
  margin: 5px 0;
  border: solid 1px #CCC;
  border-radius: 2px;
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

.add {
  height: 30px;
  width: 30%;
  margin-top: 5px;  
  background-color: rgba(230,230,230,1);
  background: filter-gradient(#e6e6e6, #f6f6f6, vertical);
  background: background-image(linear-gradient(top, rgba(230,230,230,1) 0%, rgba(246,246,246,1) 100%));
  border: solid 1px lighten(black, 70%);
  border-radius: 2px;
  color: lighten(black, 45%);
  &:focus {
    outline-color: transparent;
    outline-style: none;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-list {
  list-style: none;
  width: 75%;
  margin: 0 auto;
}

.contact {
  display: flex;
  width: 100%;
  border: solid 1px lighten(black, 70%);
  border-radius: 5px;
  height: 90px;
  align-items: center;
  margin: 0 0 10px 0;
  background-color: lighten(black, 95%);
}

.contact-pic {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin: 0 8px;
}

.contact-in {
  margin: 0 4px;
}

.name, .contact-phone, .address, .phone {
  font-size: 0.8em;
  line-height: 1.3em;
  padding: 0 0 0 5px;
  color: lighten(black, 50);
}

.contact-phone {
  margin: 0 0 0 5px;
}

.address {
  margin: 10px 0 0 0;
}

.remove-button {
  margin: 10px 10px auto auto;
  .fa {
    font-size: 1.3em;
    color: lighten(black, 70%)
  }
}

.contact-pic {
  img {
    height: 75px;
    border-radius: 32%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}



















